#banner {
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 100px 300px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;

}

h1 {
    font-weight: 1000;
    font-size: 40px;
}

h2 {
    display: inline-flex;
}

.button-box {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border: 4px;
    padding: 10px;
    background-color: tomato;
}

.position-flex {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 0px 250px;
    font-family: 'Roboto', sans-serif;

}

.para-posi {
    padding-left: 100px;
    padding-right: 100px;
}

.box-position {
    margin-top: 10px;
    text-decoration: none;
    border: 4px;
    padding: 15px;
    color: gray;

}

#red-box {
    background-color: rgb(242, 210, 204);
    color: red;
    padding: 30px 20px;

}

#box-line {
    border-bottom: 1px solid gray;

    color: gray;
    font-weight: lighter;
    margin-bottom: 40px;

}

.donate-plan {
    width: 40%;
    box-shadow: 5px 5px 10px grey;
    padding: 10% 2% 2%;

}

#side-by-side {
    margin-top: 60px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#icon-food {
    background: url(images/food.png);
    background-repeat: no-repeat;
    background-position: 20px 40px;
    background-color: rgb(220, 246, 238);
}

#icon-shelter {
    background: url(images/shelter.png);
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-right: 2%;
    background-position: 20px 40px;
    background-color: rgb(249, 233, 233);
}

#icon-edu {
    background: url(images/Frame-1.png);
    background-repeat: no-repeat;
    background-position: 20px 40px;
    background-color: rgb(235, 223, 249);
}

#subscribe {
    background: rgb(226, 119, 119);
    padding: 1.5% 6%;
    margin-left: -7%;
    color: white;
    font-weight: 700;
    border: 0cm;
    border-radius: 5%;
}

#email-but {
    background: rgb(217, 213, 213);
    padding: 1.5% 6%;
    border-color: gray;
    color: gray;
    font-weight: 700;
    border: 0cm;
    border-radius: 5%;

}

#email-sub {
    background: rgb(248, 248, 223);
    padding: 10% 1%;
    border-color: white;
    margin-top: 5%;
}

#updates {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img {
    width: 60%;
}

.share-button {
    background: orange;
    padding: 2% 6%;
    font-weight: 900;
    font-size: medium;
}

#update-para {
    width: 60%;
    margin-left: 10%;
    margin-bottom: 0%;
    font-size: medium;
}

#update-mar {
    margin-left: 12%;
    margin-top: 15%;
}

#footer-kind {
    text-align: center;
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

html,
body {
    height: 100%;
}

#red-color {
    color: saddlebrown;
}